# Train - Test split

In [6]:
#Importing the libraries

import pandas as pd
import numpy as np

In [9]:

# Importing the dataset
dataset = pd.read_csv('Salary_Data.csv')
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, 1].values

In [18]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 1/3, random_state = 0)

In [16]:
#make dataframe of train test split
df = pd.DataFrame([X_train, X_test, y_train, y_test])

df

                                                   0
0  [[2.9], [5.1], [3.2], [4.5], [8.2], [6.8], [1....
1  [[1.5], [10.3], [4.1], [3.9], [9.5], [8.7], [9...
2  [56642.0, 66029.0, 64445.0, 61111.0, 113812.0,...
3  [37731.0, 122391.0, 57081.0, 63218.0, 116969.0...