# For loop  

* Is used to iterate over a sequence, which could be a list, tuple, array or a string

In [1]:
x = [1,4.2,"LearningPython"]
print(x[0],x[1],x[2])

1 4.2 LearningPython

#### same but with for loop

In [2]:
# 1 Example
x = [1,4.2,"LearningPython"]

for i in x:
    print(i)

1
4.2
LearningPython

In [3]:
# 2 Example
y = "LearningPython"

for i in y:
    print(i)

L
e
a
r
n
i
n
g
P
y
t
h
o
n

In [4]:
# 3 Example
y = "LearningPython"
for i in y:
    print(i, end='')

LearningPython

In [5]:
# 4 Example
for i in range(0,21): #f we want 20 include it? then 21 
	print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [6]:
# 5 example
for i in range(0,21,2): #values multiplos of 2 / even numbers
    print(i)

0
2
4
6
8
10
12
14
16
18
20

In [7]:
# 6 example
sum=0

for i in range(0,21):
	if i%2==0:
		sum=sum+i
print(sum)

110

In [8]:
# 7 Example

#    1

#    12
#    123
#    1234
#    12345

n= int(input("Enter a number " ))
for i in range(1,n+1):
    for j in range(1,i):
        print(j,end='')
    print()

Enter a number 4

1
12
123

In [9]:
# 8 Example

r = int(input("Enter number of rows"))
c = int(input("Enter number of columns"))

#empty list
x = []
val=[]

# for loop
for i in range(0,r):
    for j in range(0,c):
        val.insert(j,int(input("Enter the %d * %d element" %(i,j))))
    x.insert(i,val)
    val=[]

e = []

# for loop
for i in range(0,r):
    for j in range(0,c):
        val.insert(j,int(input("Enter the %d * %d element" %(i,j))))
    e.insert(i,val)
    val=[]
sum=[]

for i in range(0,r):
    for j in range(0,c):
        val.insert(j, x[i][j] + e[i][j])
    sum.insert(i,val)
    val=[]
print(sum)

Enter number of rows2
Enter number of columns2
Enter the 0 * 0 element1
Enter the 0 * 1 element2
Enter the 1 * 0 element3
Enter the 1 * 1 element4
Enter the 0 * 0 element5
Enter the 0 * 1 element6
Enter the 1 * 0 element7
Enter the 1 * 1 element8
[[6, 8], [10, 12]]