<center><h1><b><font size="5">Introduction to pandas DataFrame</font></b></h1></center>

In [2]:
import pandas as pd

#### creating dataframes from scratch

#### #1. Construct a DataFrame from a dictionary of lists

In [3]:
data = {'ProductName': ['Product A', 'Product B', 'Product C'], 'ProductPrice':[22250, 16600, 12500]}
df = pd.DataFrame(data)
df

  ProductName  ProductPrice
0   Product A         22250
1   Product B         16600
2   Product C         12500

In [4]:
data = {'ProductName': ['Product A', 'Product B', 'Product C', 'Product D'], 'ProductPrice':[22250, 16600, 12500]}
df = pd.DataFrame(data)
df # array lenght

ValueError: All arrays must be of the same length

#### #2. Construct a DataFrame from a dictionary of lists + speciffy an index

In [5]:
data = {'ProductName': ['Product A', 'Product B', 'Product C'], 'ProductPrice':[22250, 16600, 12500]}
df = pd.DataFrame(data, index = ['A', 'B', 'C'])
df

  ProductName  ProductPrice
A   Product A         22250
B   Product B         16600
C   Product C         12500

In [10]:
data = {'ProductName': ['Product A', 'Product B', 'Product C'], 'ProductPrice':[22250, 16600, 12500]}
products_IDS = ['A','B','C']
df = pd.DataFrame(data, index = products_IDS)
df

  ProductName  ProductPrice
A   Product A         22250
B   Product B         16600
C   Product C         12500

#### #3. Construct a DataFrame from list of dictionaries

In [17]:
data = [{'ProductName': 'Product A', 'ProductPrice': 22250},
        {'ProductName': 'Product B', 'ProductPrice': 16600},
        {'ProductName': 'Product C', 'ProductPrice': 12500}]

df = pd.DataFrame(data)
print(df)

  ProductName  ProductPrice
0   Product A         22250
1   Product B         16600
2   Product C         12500

In [18]:
data = [{'ProductName': 'Product A', 'ProductPrice': 22250},
        {'ProductName': 'Product B', 'ProductPrice': 16600},
        {'ProductName': 'Product C', 'ProductPrice': 12500, 100000}]

df = pd.DataFrame(data)
print(df)

SyntaxError: invalid syntax (541370260.py, line 3)

In [19]:
data = [{'ProductName': 'Product A', 'ProductPrice': 22250},
        {'ProductName': 'Product B', 'ProductPrice': 16600},
        {'ProductName': 'Product C', 'ProductPrice': [12500, 100000]}]

df = pd.DataFrame(data)
print(df)

  ProductName     ProductPrice
0   Product A            22250
1   Product B            16600
2   Product C  [12500, 100000]

In [20]:
data = [{'ProductName': 'Product A', 'ProductPrice': 22250},
        {'ProductName': 'Product B', 'ProductPrice': 16600},
        {'ProductName': 'Product C', 'ProductPrice': 12500},
        {'ProductName': 'Product D'}]

df = pd.DataFrame(data)
print(df)

  ProductName  ProductPrice
0   Product A       22250.0
1   Product B       16600.0
2   Product C       12500.0
3   Product D           NaN

#### #4. Construct a DataFrame from a dictionary of pandas series

In [21]:
ser_products = pd.Series(['Product A', 'Product B', 'Product C'])
ser_prices = pd.Series([22250, 16600, 12500])

In [22]:
data = {'ProductName':ser_products, 'ProductPrice':ser_prices}
df = pd.DataFrame(data)
df

  ProductName  ProductPrice
0   Product A         22250
1   Product B         16600
2   Product C         12500

In [23]:
ser_products = pd.Series(['Product A', 'Product B', 'Product C'], index = ['A','B','C'])
ser_prices = pd.Series([22250, 16600, 12500], index = ['A','B','C'])

data = {'ProductName':ser_products, 'ProductPrice':ser_prices}
df = pd.DataFrame(data)
df

  ProductName  ProductPrice
A   Product A         22250
B   Product B         16600
C   Product C         12500

In [24]:
ser_products = pd.Series(['Product A', 'Product B', 'Product C'], index = ['A','B','C'])
ser_prices = pd.Series([22250, 16600, 12500], index = ['C','B','A'])

data = {'ProductName':ser_products, 'ProductPrice':ser_prices}
df = pd.DataFrame(data)
df

  ProductName  ProductPrice
A   Product A         12500
B   Product B         16600
C   Product C         22250

#### #5. Construct a DataFrame from a list of lists

In [25]:
data = [['Product A', 22250], ['Product B', 16600], ['Product C',12500]]
df = pd.DataFrame(data)
df

           0      1
0  Product A  22250
1  Product B  16600
2  Product C  12500

In [26]:
data = [['Product A', 22250], ['Product B', 16600], ['Product C',12500, 5000]]
df = pd.DataFrame(data)
df

           0      1       2
0  Product A  22250     NaN
1  Product B  16600     NaN
2  Product C  12500  5000.0

In [27]:
data = [['Product A', 22250], ['Product B', 16600], ['Product C',12500]]
df = pd.DataFrame(data)
df

           0      1
0  Product A  22250
1  Product B  16600
2  Product C  12500

In [28]:
df.columns = ['ProductName', 'ProductPrice']
df

  ProductName  ProductPrice
0   Product A         22250
1   Product B         16600
2   Product C         12500

In [29]:
df.index = ['A', 'B', 'C']
df

  ProductName  ProductPrice
A   Product A         22250
B   Product B         16600
C   Product C         12500

#### #6. Construct a DataFrame in a Professional way

In [31]:
df = pd.DataFrame(data = [['Product A', 22250], ['Product B', 16600], ['Product C',12500]],
                  columns = ['ProductName', 'ProductPrice'],
                  index = ['A','B','C'])
df

  ProductName  ProductPrice
A   Product A         22250
B   Product B         16600
C   Product C         12500

In [32]:
df.shape #shape attribute

(3, 2)