In [1]:
import numpy as np

In [8]:
l1 = [1,2,3]
l2 = [3,4,5]

In [9]:
l1*l2 # not possible

TypeError: can't multiply sequence by non-int of type 'list'

### Broadcasting

In [10]:
l1*3 #l1*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [11]:
a1 = np.array(l1)
a2 = np.array(l2)

In [12]:
a1

array([1, 2, 3])

In [13]:
a2

array([3, 4, 5])

In [14]:
a1 * a2

array([ 3,  8, 15])

In [15]:
a1 *2

array([2, 4, 6])

In [16]:
l1 + l2 # l1&l2

[1, 2, 3, 3, 4, 5]

In [17]:
l1 + 5 # not possible

TypeError: can only concatenate list (not "int") to list

In [18]:
a1 + a2

array([4, 6, 8])

In [19]:
a1 + 10

array([11, 12, 13])

In [20]:
a1 / a2

array([0.33333333, 0.5       , 0.6       ])

In [21]:
a1 - a2

array([-2, -2, -2])

In [23]:
a1 = np.arange(5)
a1

array([0, 1, 2, 3, 4])

In [ ]:
a1/a1 #runtime warning
1/a1 #runtime warning

In [25]:
0/0 #ZeroDvisionerror

ZeroDivisionError: division by zero

In [27]:
t1 = np.arange(0,50,2).reshape(5,5)
t1

array([[ 0,  2,  4,  6,  8],
       [10, 12, 14, 16, 18],
       [20, 22, 24, 26, 28],
       [30, 32, 34, 36, 38],
       [40, 42, 44, 46, 48]])

In [28]:
t1/5

array([[0. , 0.4, 0.8, 1.2, 1.6],
       [2. , 2.4, 2.8, 3.2, 3.6],
       [4. , 4.4, 4.8, 5.2, 5.6],
       [6. , 6.4, 6.8, 7.2, 7.6],
       [8. , 8.4, 8.8, 9.2, 9.6]])

### For 2D Broadcasting, match number of columns

In [31]:
t1/np.array([10, 12, 14, 16, 18])

array([[0.        , 0.16666667, 0.28571429, 0.375     , 0.44444444],
       [1.        , 1.        , 1.        , 1.        , 1.        ],
       [2.        , 1.83333333, 1.71428571, 1.625     , 1.55555556],
       [3.        , 2.66666667, 2.42857143, 2.25      , 2.11111111],
       [4.        , 3.5       , 3.14285714, 2.875     , 2.66666667]])