##### Data Formatting in Python

* Data are usually collected from different places and stored in different formats.

* Bringing data into a common standard of expression allow users to make meaningful comparison. 

**Non-formatted**:

    * confusing
    * hard to aggregate
    * hard to compare

**Formatted**:

    * more clear
    * easy to aggregate
    * easy to compare

#### Applying calculations to an entire column

* Convert "mpg" to "L/100km" in Car dataset.

In [2]:
city_mpg = [21,21,19]
df1 = city_mpg
city_L100km = [11.2,11.2,12.4]
df2 = city_L100km

In [ ]:
df["city_mpg"] = 235/df["city_L100km"]

df.rename(columns={"city_mpg": "city_L100km"}, inplace=True)

##### Incorrect data Types

* Sometimes the wrong data type is assigned to a feature

   df["price"].tail(5)
    
    200 16845
    
    201 19045
    
    202 21485
    
    203 22470
    
    204 22625
    
    Name: price, dtype = **object**

##### Correcting data Types

**To identify** data types:
    
    * Use **dataframe.dtypes()** to identify data type.
    
**To convert** data types:

    * Use **dataframe.astype()** to convert data type.
    
**Example**: convert data type to integer in column "price"

    df["price"] = df["price"].astype("int")