In [4]:
import numpy as np
import pandas as pd

In [2]:
a = np.array([[1,2,3],[0,1,4]])
b = np.zeros((2,3), dtype=np.int16)
c = np.ones((2,3), dtype=np.int16)
d = a + b + c
print(d[1,2])

5

In [7]:
S11 = pd.Series(['NewDelhi','WashingtoDC','London','Paris'],
                index=['India','USA','UK','France'])

print(S11['India'])

NewDelhi

In [8]:
a = np.array([1,2,3,5,8])
print(a.ndim)

1

In [10]:
a = np.array([1,2,3,5,8])
b = np.array([0,3,4,2,1])
c = a + b
c = c*a
print(c[2])

21

In [11]:
a = np.array([[1,2,3],[0,1,4]])
print(a.size)

6

In [12]:
S1 = pd.Series(['NewDelhi','WashingtoDC','London','Paris'],
                index=['India','USA','UK','France'])
print(S1['India','UK'])

KeyError: 'key of type tuple not found and not a MultiIndex'

In [13]:
a = np.array([1,2,3])
print a

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (3511663021.py, line 2)

In [16]:
S2 = pd.Series([1,2,3,4], index = ['a','b','c','d'])

result = S2['c']
print(result)

3

In [17]:
ary = np.array([1,2,3,5,8])
ary = ary + 1
print(ary[1])

3