**Importamos pandas para leer la data en csv formato**

In [68]:
import pandas as pd

In [ ]:
**Ruta donde se encuentra el csv

In [76]:
ruta = "USEYOURDISC:/PATH1/....2/....3/HR_DATA.csv"

In [77]:
data = pd.read_csv(ruta)
print(data.head())

   Employee ID         DOB  Emp Age    Surname     Name Gender Marital Status  \
0        10005  28/10/1953       69    Jackson   Noelia      F         Single
1        10007  28/04/1953       69      Carey  Rodrigo      M         Single
2        10009  06/02/1968       55       Chan    Lucas      M         Single
3        10015  10/11/1983       39   Ferreira   Daiana      F         Single
4        10040  01/05/1961       61  Bernstein    Ruben      M         Single

         Branch            Hire Date Leave Date  ...  Status  Department  \
0  Buenos Aires  2014-01-25 00:00:00        NaN  ...  Active  Production
1          Lima  2014-02-04 00:00:00        NaN  ...  Active  Production
2  Buenos Aires  2014-02-09 00:00:00        NaN  ...  Active  Production
3          Lima  2014-05-02 00:00:00        NaN  ...  Active  Production
4          Lima  2014-10-07 00:00:00        NaN  ...  Active  Production

  Employee Satisfaction  Annual Salary ($)  Bonus ($)  Total Compensation  \
0                     3              43241       4757               47998
1                     3              51009       7141               58150
2                     4              42034       6305               48339
3                     4              44391       2663               47054
4                     3              43361       8239               51600

                 Job Title Job Description Manager (Y/N)  Performance
0  Production Technician I      Technician            No  Fully Meets
1  Production Technician I      Technician            No  Fully Meets
2  Production Technician I      Technician            No  Fully Meets
3  Production Technician I      Technician            No  Fully Meets
4  Production Technician I      Technician            No  Fully Meets

[5 rows x 21 columns]

In [78]:
data['Hire Date'] = pd.to_datetime(data['Hire Date'])

**Seleccionando la columna hire Date para dar formato de fecha requerido**

In [79]:
data['Hire Date'] = data['Hire Date'].dt.strftime('%d/%m/%Y')

In [80]:
print(data.head())

   Employee ID         DOB  Emp Age    Surname     Name Gender Marital Status  \
0        10005  28/10/1953       69    Jackson   Noelia      F         Single
1        10007  28/04/1953       69      Carey  Rodrigo      M         Single
2        10009  06/02/1968       55       Chan    Lucas      M         Single
3        10015  10/11/1983       39   Ferreira   Daiana      F         Single
4        10040  01/05/1961       61  Bernstein    Ruben      M         Single

         Branch   Hire Date Leave Date  ...  Status  Department  \
0  Buenos Aires  25/01/2014        NaN  ...  Active  Production
1          Lima  04/02/2014        NaN  ...  Active  Production
2  Buenos Aires  09/02/2014        NaN  ...  Active  Production
3          Lima  02/05/2014        NaN  ...  Active  Production
4          Lima  07/10/2014        NaN  ...  Active  Production

  Employee Satisfaction  Annual Salary ($)  Bonus ($)  Total Compensation  \
0                     3              43241       4757               47998
1                     3              51009       7141               58150
2                     4              42034       6305               48339
3                     4              44391       2663               47054
4                     3              43361       8239               51600

                 Job Title Job Description Manager (Y/N)  Performance
0  Production Technician I      Technician            No  Fully Meets
1  Production Technician I      Technician            No  Fully Meets
2  Production Technician I      Technician            No  Fully Meets
3  Production Technician I      Technician            No  Fully Meets
4  Production Technician I      Technician            No  Fully Meets

[5 rows x 21 columns]

**Guardando datos de csv a excel**

In [ ]:
ruta_excel = "USEYOURDISC:/PATH1/....2/....3/data.xlsx"

In [82]:
data.to_excel(ruta_excel, index=False)