## Correlation Analysis

In [5]:
import pandas as pd
import numpy as np

In [2]:
#Create a dictionary
data = {'name':['jack', 'mason','tanya','jim','amelia'],
       'tenure': [42,52,36,24,73],
       'employees': [4,24,31,2,3 ],
       'inventory': [25,94,57,62,70]}

df = pd.DataFrame(data, columns = ['name','tenure','employees','inventory'])
df

     name  tenure  employees  inventory
0    jack      42          4         25
1   mason      52         24         94
2   tanya      36         31         57
3     jim      24          2         62
4  amelia      73          3         70

In [10]:
df = pd.DataFrame(data, columns=['name', 'tenure', 'employees', 'inventory'])

# Select only numeric columns
numeric_columns = df.select_dtypes(include=np.number).columns

# Calculate correlation matrix
correlation_matrix = df[numeric_columns].corr()

print(correlation_matrix)

             tenure  employees  inventory
tenure     1.000000  -0.105651   0.328852
employees -0.105651   1.000000   0.378039
inventory  0.328852   0.378039   1.000000

In [13]:
# Select only numeric columns
numeric_columns = df.select_dtypes(include=np.number).columns

In [14]:
# Exclude non-numeric columns
numeric_df = df[numeric_columns]

In [15]:
# Calculate correlation using Pearson method
pearson_corr = numeric_df.corr(method='pearson')
print("Pearson Correlation:")
print(pearson_corr)
print()

Pearson Correlation:
             tenure  employees  inventory
tenure     1.000000  -0.105651   0.328852
employees -0.105651   1.000000   0.378039
inventory  0.328852   0.378039   1.000000

In [16]:
# Calculate correlation using Kendall method
kendall_corr = numeric_df.corr(method='kendall')
print("Kendall Correlation:")
print(kendall_corr)
print()

Kendall Correlation:
           tenure  employees  inventory
tenure        1.0        0.0        0.2
employees     0.0        1.0        0.0
inventory     0.2        0.0        1.0

In [17]:
# Calculate correlation using Spearman method
spearman_corr = numeric_df.corr(method='spearman')
print("Spearman Correlation:")
print(spearman_corr)

Spearman Correlation:
           tenure  employees  inventory
tenure        1.0        0.1        0.5
employees     0.1        1.0       -0.1
inventory     0.5       -0.1        1.0