### Import  Standard Library

In [1]:
import numpy as np
import pandas as pd

### Import the DataSet into Jupyter Notebook

In [4]:
df =  pd.read_excel('LungCap.xls')
print('Data Loaded')
df

Data Loaded

     LungCap(cc)  Age( years)  Height(inches) Smoke  Gender Caesarean
0          6.475            6            62.1    no    male        no
1         10.125           18            74.7   yes  female        no
2          9.550           16            69.7    no  female       yes
3         11.125           14            71.0    no    male        no
4          4.800            5            56.9    no    male        no
..           ...          ...             ...   ...     ...       ...
720        5.725            9            56.0    no  female        no
721        9.050           18            72.0   yes    male       yes
722        3.850           11            60.5   yes  female        no
723        9.825           15            64.9    no  female        no
724        7.100           10            67.7    no    male        no

[725 rows x 6 columns]

### Check the first 5 rows of the dataset

In [3]:
df.head()

   LungCap(cc)  Age( years)  Height(inches) Smoke  Gender Caesarean
0        6.475            6            62.1    no    male        no
1       10.125           18            74.7   yes  female        no
2        9.550           16            69.7    no  female       yes
3       11.125           14            71.0    no    male        no
4        4.800            5            56.9    no    male        no

In [6]:
#Display row no 20:35
df[20:36]

    LungCap(cc)  Age( years)  Height(inches) Smoke  Gender Caesarean
20        3.975            6            57.3    no    male        no
21        5.325            8            59.7    no  female        no
22       10.025           16            72.4    no    male        no
23        8.725           11            68.0    no    male       yes
24        9.375           11            65.7    no  female        no
25        8.350           12            61.3    no    male       yes
26        6.750           12            60.7    no  female        no
27        9.025            9            65.6    no    male        no
28        1.125            4            48.7    no  female        no
29       10.475           18            72.0   yes  female        no
30        4.650            4            53.7    no  female        no
31        7.725           13            64.7    no    male        no
32       10.600           13            69.3    no    male        no
33       11.025           13            65.6    no    male       yes
34        8.650           12            67.8    no    male        no
35        8.825           10            65.5    no    male        no

### Check the las 5 rows of the dataset

In [5]:
df.tail()

     LungCap(cc)  Age( years)  Height(inches) Smoke  Gender Caesarean
720        5.725            9            56.0    no  female        no
721        9.050           18            72.0   yes    male       yes
722        3.850           11            60.5   yes  female        no
723        9.825           15            64.9    no  female        no
724        7.100           10            67.7    no    male        no

### Check the information of the dataset

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 725 entries, 0 to 724
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   LungCap(cc)     725 non-null    float64
 1   Age( years)     725 non-null    int64
 2   Height(inches)  725 non-null    float64
 3   Smoke           725 non-null    object
 4   Gender          725 non-null    object
 5   Caesarean       725 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 34.1+ KB

### Check the description of the dataset

In [8]:
df.describe()

       LungCap(cc)  Age( years)  Height(inches)
count   725.000000   725.000000      725.000000
mean      7.863148    12.326897       64.836276
std       2.662008     4.004750        7.202144
min       0.507000     3.000000       45.300000
25%       6.150000     9.000000       59.900000
50%       8.000000    13.000000       65.400000
75%       9.800000    15.000000       70.300000
max      14.675000    19.000000       81.800000

### Check the names of columns in the dataset

In [9]:
df.columns #option_1

Index(['LungCap(cc)', 'Age( years)', 'Height(inches)', 'Smoke', 'Gender',
       'Caesarean'],
      dtype='object')

In [10]:
list(df.columns) # option_2

['LungCap(cc)',
 'Age( years)',
 'Height(inches)',
 'Smoke',
 'Gender',
 'Caesarean']

In [11]:
for i in df.columns:
    print(i)

LungCap(cc)
Age( years)
Height(inches)
Smoke
Gender
Caesarean

### Check the number of males and the number of females under the Gender column in the dataset

In [12]:
df.groupby(['Gender']).size()

Gender
female    358
male      367
dtype: int64

### Check for missing values in the dataset

In [13]:
df.isnull().sum()

LungCap(cc)       0
Age( years)       0
Height(inches)    0
Smoke             0
Gender            0
Caesarean         0
dtype: int64

In [15]:
# another way to check mimssing values:
df.isnull().values.any()

False