In [1]:
import pandas as pd

In [11]:
# create a new Series dictionary
veg = pd.Series({'potato':3,'tomato':6,'chilly':2,'pumpkin':8,'carrot':10,'radish':4})
veg

potato      3
tomato      6
chilly      2
pumpkin     8
carrot     10
radish      4
dtype: int64

In [12]:
# extracting all the values
veg.values

array([ 3,  6,  2,  8, 10,  4], dtype=int64)

In [13]:
# we need all the indexes that we have
veg.index

Index(['potato', 'tomato', 'chilly', 'pumpkin', 'carrot', 'radish'], dtype='object')

In [14]:
#shape (total number of record/element we have)
veg.shape

(6,)

In [15]:
# subset series

#option_1
veg[0] # we call the first element using position/index

3

In [16]:
#option_2 
veg['carrot'] #we call back the value with the label

10

In [17]:
veg['pumpkin':'radish'] #range of records

pumpkin     8
carrot     10
radish      4
dtype: int64

In [18]:
veg[1:4] #from 1 to 3 / last range is excluded it will got till 3 index only

tomato     6
chilly     2
pumpkin    8
dtype: int64

In [19]:
veg[['tomato','radish','pumpkin']]

tomato     6
radish     4
pumpkin    8
dtype: int64

In [21]:
veg['tomato':] #from tomate to the last element

tomato      6
chilly      2
pumpkin     8
carrot     10
radish      4
dtype: int64

In [23]:
veg[ :'pumpkin'] #from potato to pumpkin

potato     3
tomato     6
chilly     2
pumpkin    8
dtype: int64

In [24]:
veg[1:4] #start by 1 till 3

tomato     6
chilly     2
pumpkin    8
dtype: int64

In [25]:
veg[1::2] #extract every second element

tomato     6
pumpkin    8
radish     4
dtype: int64

In [26]:
veg[1::3] #extract every third element

tomato     6
carrot    10
dtype: int64

In [27]:
veg

potato      3
tomato      6
chilly      2
pumpkin     8
carrot     10
radish      4
dtype: int64

In [ ]:
#iloc/loc
#loc: label based indexing
#iloc: position based indexing

In [28]:
#veg.loc['tomato':'carrot']
veg['tomato':'carrot']

tomato      6
chilly      2
pumpkin     8
carrot     10
dtype: int64

In [30]:
#veg.iloc[0:4]
veg[0:4] # potato to pumpking position

potato     3
tomato     6
chilly     2
pumpkin    8
dtype: int64

In [31]:
veg>2 #boolean output / chilly = 2

potato      True
tomato      True
chilly     False
pumpkin     True
carrot      True
radish      True
dtype: bool

In [32]:
veg<2 #boolean output / chilly = 2

potato     False
tomato     False
chilly     False
pumpkin    False
carrot     False
radish     False
dtype: bool

In [33]:
veg>=2 #boolean output / chilly = 2

potato     True
tomato     True
chilly     True
pumpkin    True
carrot     True
radish     True
dtype: bool

In [34]:
veg<=2 #chilly =2

potato     False
tomato     False
chilly      True
pumpkin    False
carrot     False
radish     False
dtype: bool

In [35]:
veg[veg>2] #filtered output

potato      3
tomato      6
pumpkin     8
carrot     10
radish      4
dtype: int64

In [36]:
veg

potato      3
tomato      6
chilly      2
pumpkin     8
carrot     10
radish      4
dtype: int64

In [37]:
veg.head() #for top 5 elements

potato      3
tomato      6
chilly      2
pumpkin     8
carrot     10
dtype: int64

In [38]:
veg.head(2) #for top 2 elements

potato    3
tomato    6
dtype: int64

In [39]:
veg.tail() #5 from bottom

tomato      6
chilly      2
pumpkin     8
carrot     10
radish      4
dtype: int64

In [40]:
veg.tail(1) #last element

radish    4
dtype: int64

In [41]:
veg[2:5]

chilly      2
pumpkin     8
carrot     10
dtype: int64

In [45]:
#check any values belongs to the series 
veg.isin([50])

potato     False
tomato     False
chilly     False
pumpkin    False
carrot     False
radish     False
dtype: bool

In [44]:
veg.isin([2]) #we compare the values

potato     False
tomato     False
chilly      True
pumpkin    False
carrot     False
radish     False
dtype: bool

In [46]:
veg[veg.isin([2,4])]

chilly    2
radish    4
dtype: int64

In [48]:
# find unique values and their frequencies
new = pd.Series(list('abcd'*4))
new

0     a
1     b
2     c
3     d
4     a
5     b
6     c
7     d
8     a
9     b
10    c
11    d
12    a
13    b
14    c
15    d
dtype: object

In [ ]:
#unique() : name of all unique records
#nunique() : count of unique records
#value_counts() : name of uniques records with their occurences

In [49]:
new

0     a
1     b
2     c
3     d
4     a
5     b
6     c
7     d
8     a
9     b
10    c
11    d
12    a
13    b
14    c
15    d
dtype: object

In [50]:
new.unique()

array(['a', 'b', 'c', 'd'], dtype=object)

In [51]:
new.nunique()

4

In [52]:
new.value_counts()

a    4
b    4
c    4
d    4
dtype: int64

In [53]:
# dealing with duplicates
new

0     a
1     b
2     c
3     d
4     a
5     b
6     c
7     d
8     a
9     b
10    c
11    d
12    a
13    b
14    c
15    d
dtype: object

In [54]:
new.duplicated()

0     False
1     False
2     False
3     False
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15     True
dtype: bool

In [55]:
new[new.duplicated()]

4     a
5     b
6     c
7     d
8     a
9     b
10    c
11    d
12    a
13    b
14    c
15    d
dtype: object

In [56]:
new.drop_duplicates() # drop the duplicated values from the list

0    a
1    b
2    c
3    d
dtype: object

In [ ]:
#sorting the data
#sort_values, sort_index

In [57]:
veg.sort_values

<bound method Series.sort_values of potato      3
tomato      6
chilly      2
pumpkin     8
carrot     10
radish      4
dtype: int64>

In [59]:
veg.sort_index

<bound method Series.sort_index of potato      3
tomato      6
chilly      2
pumpkin     8
carrot     10
radish      4
dtype: int64>

In [58]:
new.sort_values

<bound method Series.sort_values of 0     a
1     b
2     c
3     d
4     a
5     b
6     c
7     d
8     a
9     b
10    c
11    d
12    a
13    b
14    c
15    d
dtype: object>

In [60]:
new.sort_index

<bound method Series.sort_index of 0     a
1     b
2     c
3     d
4     a
5     b
6     c
7     d
8     a
9     b
10    c
11    d
12    a
13    b
14    c
15    d
dtype: object>

In [64]:
#dealing with missing data
#create a new series

x = pd.Series([2,4,5,3,np.nan,3,np.nan])
x

0    2.0
1    4.0
2    5.0
3    3.0
4    NaN
5    3.0
6    NaN
dtype: float64

In [ ]:
x.