<center><h1><b><font size="6">Structure with different data types</font></b></h1></center>

<center><h1><b><font size="4">Tuples</font></b></h1></center>

In [2]:
tup_1 =(1,2,3)

In [3]:
type(tup_1)

tuple

In [4]:
tup_2=("one","two","three")

In [5]:
tup_2

('one', 'two', 'three')

In [6]:
type(tup_2)

tuple

In [7]:
len(tup_2)

3

In [8]:
# trying to reasign values

In [9]:
tup_2[0]="ONE"

TypeError: 'tuple' object does not support item assignment