In [416]:
import pandas as pd #DF_spreadsheet data
import numpy as np #to manipulate data
import matplotlib.pyplot as plt #to bringt together en plot it

%matplotlib inline 

from urllib.request import urlopen #that request the website data
from bs4 import BeautifulSoup #to scrap data
import re #for manipulate regular expresion

### Pull data

In [417]:
url="https://www.hubertiming.com/results/2018MLK" #open the link 
html=urlopen(url)

In [418]:
soup = BeautifulSoup(html)

In [419]:
title = soup.title
print(title) #piece of a html file
print(title.text) #title of the website

<title>Race results for the 2018 MLK Dream Run!</title>
Race results for the 2018 MLK Dream Run!

In [420]:
links = soup.find_all('a', href=True)
for link in links:
    print(link["href"])

https://www.mlkdreamrun.com/
mailto:timing@hubertiming.com
https://www.hubertiming.com
/results/2018MLK10K
/results/2018MLK15K
/results/summary/2018MLK
#tabs-1
https://www.hubertiming.com/
https://facebook.com/hubertiming/

### Getting the data of the page

In [421]:
allrows=soup.find_all('tr') #tr
print(allrows[:5]) # the first 5 rows

[<tr colspan="2">
<b>5K:</b>
</tr>, <tr>
<td>Finishers:</td>
<td>191</td>
</tr>, <tr>
<td>Male:</td>
<td>78</td>
</tr>, <tr>
<td>Female:</td>
<td>113</td>
</tr>, <tr class="header">
<th>Place</th>
<th>Bib</th>
<th>Name</th>
<th>Gender</th>
<th>Age</th>
<th>City</th>
<th>State</th>
<th>Chip Pace</th>
<th>Chip Time</th>
<th>Gender Place</th>
<th>Age Group</th>
<th>Age Group Place</th>
<th>Time to Start</th>
<th>Gun Time</th>
</tr>]

In [422]:
allrows=soup.find_all('tr') #tr
print(allrows[1]) #second row es finisher de acuedo al data set

<tr>
<td>Finishers:</td>
<td>191</td>
</tr>

In [423]:
allrows=soup.find_all('tr') #tr
print(allrows[2])

<tr>
<td>Male:</td>
<td>78</td>
</tr>

In [424]:
allrows=soup.find_all('tr') #tr
print(allrows[3])

<tr>
<td>Female:</td>
<td>113</td>
</tr>

In [425]:
allrows=soup.find_all('tr') #tr
print(allrows[4])

<tr class="header">
<th>Place</th>
<th>Bib</th>
<th>Name</th>
<th>Gender</th>
<th>Age</th>
<th>City</th>
<th>State</th>
<th>Chip Pace</th>
<th>Chip Time</th>
<th>Gender Place</th>
<th>Age Group</th>
<th>Age Group Place</th>
<th>Time to Start</th>
<th>Gun Time</th>
</tr>

In [426]:
allrows=soup.find_all('tr') #tr
print(allrows[:5])

[<tr colspan="2">
<b>5K:</b>
</tr>, <tr>
<td>Finishers:</td>
<td>191</td>
</tr>, <tr>
<td>Male:</td>
<td>78</td>
</tr>, <tr>
<td>Female:</td>
<td>113</td>
</tr>, <tr class="header">
<th>Place</th>
<th>Bib</th>
<th>Name</th>
<th>Gender</th>
<th>Age</th>
<th>City</th>
<th>State</th>
<th>Chip Pace</th>
<th>Chip Time</th>
<th>Gender Place</th>
<th>Age Group</th>
<th>Age Group Place</th>
<th>Time to Start</th>
<th>Gun Time</th>
</tr>]

In [427]:
allrows=soup.find_all('tr') #tr
print(allrows[:10])

[<tr colspan="2">
<b>5K:</b>
</tr>, <tr>
<td>Finishers:</td>
<td>191</td>
</tr>, <tr>
<td>Male:</td>
<td>78</td>
</tr>, <tr>
<td>Female:</td>
<td>113</td>
</tr>, <tr class="header">
<th>Place</th>
<th>Bib</th>
<th>Name</th>
<th>Gender</th>
<th>Age</th>
<th>City</th>
<th>State</th>
<th>Chip Pace</th>
<th>Chip Time</th>
<th>Gender Place</th>
<th>Age Group</th>
<th>Age Group Place</th>
<th>Time to Start</th>
<th>Gun Time</th>
</tr>, <tr data-bib="1191">
<td>1</td>
<td>1191</td>
<td>

                    MAX RANDOLPH

                </td>
<td>M</td>
<td>29</td>
<td>WASHINGTON</td>
<td>DC</td>
<td>5:25</td>
<td>16:48</td>
<td>

                    1 of 78

                </td>
<td>M 21-39</td>
<td>

                    1 of 33

                </td>
<td>0:08</td>
<td>16:56</td>
</tr>, <tr data-bib="1080">
<td>2</td>
<td>1080</td>
<td>

                    NEED NAME KAISER RUNNER

                </td>
<td>M</td>
<td>25</td>
<td>PORTLAND</td>
<td>OR</td>
<td>5:39</td>
<td>17:31</td>
<td>

                    2 of 78

                </td>
<td>M 21-39</td>
<td>

                    2 of 33

                </td>
<td>0:09</td>
<td>17:40</td>
</tr>, <tr data-bib="1275">
<td>3</td>
<td>1275</td>
<td>

                    DAN FRANEK

                </td>
<td>M</td>
<td>52</td>
<td>PORTLAND</td>
<td>OR</td>
<td>5:53</td>
<td>18:15</td>
<td>

                    3 of 78

                </td>
<td>M 40-54</td>
<td>

                    1 of 27

                </td>
<td>0:07</td>
<td>18:22</td>
</tr>, <tr data-bib="1223">
<td>4</td>
<td>1223</td>
<td>

                    PAUL TAYLOR

                </td>
<td>M</td>
<td>54</td>
<td>PORTLAND</td>
<td>OR</td>
<td>5:58</td>
<td>18:31</td>
<td>

                    4 of 78

                </td>
<td>M 40-54</td>
<td>

                    2 of 27

                </td>
<td>0:07</td>
<td>18:38</td>
</tr>, <tr data-bib="1245">
<td>5</td>
<td>1245</td>
<td>

                    THEO KINMAN

                </td>
<td>M</td>
<td>22</td>
<td></td>
<td></td>
<td>6:17</td>
<td>19:31</td>
<td>

                    5 of 78

                </td>
<td>M 21-39</td>
<td>

                    3 of 33

                </td>
<td>0:09</td>
<td>19:40</td>
</tr>]

In [428]:
data = []
allrows = soup.find_all('tr') #tr
for row in allrows:
    row_list = row.find_all("td")
    dataRow = []
    for cell in row_list:
        dataRow.append(cell.text)
    data.append(dataRow)
data = data[5:] #index 4 del dataset
print(data[-2:])

[['190', '2087', '\r\n\r\n                    LEESHA POSEY\r\n\r\n                ', 'F', '43', 'PORTLAND', 'OR', '30:17', '1:33:53', '\r\n\r\n                    112 of 113\r\n\r\n                ', 'F 40-54', '\r\n\r\n                    36 of 37\r\n\r\n                ', '0:00', '1:33:53'], ['191', '1216', '\r\n\r\n                    ZULMA OCHOA\r\n\r\n                ', 'F', '40', 'GRESHAM', 'OR', '33:22', '1:43:27', '\r\n\r\n                    113 of 113\r\n\r\n                ', 'F 40-54', '\r\n\r\n                    37 of 37\r\n\r\n                ', '0:00', '1:43:27']]

### Data into DF Pandas

In [429]:
df = pd.DataFrame(data) #we can clean it here or direct with the data variable
print(df.head(2))
print(df.tail(2))

  0     1                                                  2  3   4   \
0  1  1191  \r\n\r\n                    MAX RANDOLPH\r\n\r...  M  29
1  2  1080  \r\n\r\n                    NEED NAME KAISER R...  M  25

           5   6     7      8   \
0  WASHINGTON  DC  5:25  16:48
1    PORTLAND  OR  5:39  17:31

                                                  9        10  \
0  \r\n\r\n                    1 of 78\r\n\r\n   ...  M 21-39
1  \r\n\r\n                    2 of 78\r\n\r\n   ...  M 21-39

                                                  11    12     13
0  \r\n\r\n                    1 of 33\r\n\r\n   ...  0:08  16:56
1  \r\n\r\n                    2 of 33\r\n\r\n   ...  0:09  17:40
      0     1                                                  2  3   4   \
189  190  2087  \r\n\r\n                    LEESHA POSEY\r\n\r...  F  43
190  191  1216  \r\n\r\n                    ZULMA OCHOA\r\n\r\...  F  40

           5   6      7        8   \
189  PORTLAND  OR  30:17  1:33:53
190   GRESHAM  OR  33:22  1:43:27

                                                    9        10  \
189  \r\n\r\n                    112 of 113\r\n\r\n...  F 40-54
190  \r\n\r\n                    113 of 113\r\n\r\n...  F 40-54

                                                    11    12       13
189  \r\n\r\n                    36 of 37\r\n\r\n  ...  0:00  1:33:53
190  \r\n\r\n                    37 of 37\r\n\r\n  ...  0:00  1:43:27

### Convert columns name header

In [430]:
header_list = [] #an empty array
col_headers = soup.find_all('th')
for col in col_headers:
    header_list.append(col.text)
print(header_list)

['Place', 'Bib', 'Name', 'Gender', 'Age', 'City', 'State', 'Chip Pace', 'Chip Time', 'Gender Place', 'Age Group', 'Age Group Place', 'Time to Start', 'Gun Time']

In [431]:
df.columns = header_list
print(df.head())

  Place   Bib                                               Name Gender Age  \
0     1  1191  \r\n\r\n                    MAX RANDOLPH\r\n\r...      M  29
1     2  1080  \r\n\r\n                    NEED NAME KAISER R...      M  25
2     3  1275  \r\n\r\n                    DAN FRANEK\r\n\r\n...      M  52
3     4  1223  \r\n\r\n                    PAUL TAYLOR\r\n\r\...      M  54
4     5  1245  \r\n\r\n                    THEO KINMAN\r\n\r\...      M  22

         City State Chip Pace Chip Time  \
0  WASHINGTON    DC      5:25     16:48
1    PORTLAND    OR      5:39     17:31
2    PORTLAND    OR      5:53     18:15
3    PORTLAND    OR      5:58     18:31
4                        6:17     19:31

                                        Gender Place Age Group  \
0  \r\n\r\n                    1 of 78\r\n\r\n   ...   M 21-39
1  \r\n\r\n                    2 of 78\r\n\r\n   ...   M 21-39
2  \r\n\r\n                    3 of 78\r\n\r\n   ...   M 40-54
3  \r\n\r\n                    4 of 78\r\n\r\n   ...   M 40-54
4  \r\n\r\n                    5 of 78\r\n\r\n   ...   M 21-39

                                     Age Group Place Time to Start Gun Time
0  \r\n\r\n                    1 of 33\r\n\r\n   ...          0:08    16:56
1  \r\n\r\n                    2 of 33\r\n\r\n   ...          0:09    17:40
2  \r\n\r\n                    1 of 27\r\n\r\n   ...          0:07    18:22
3  \r\n\r\n                    2 of 27\r\n\r\n   ...          0:07    18:38
4  \r\n\r\n                    3 of 33\r\n\r\n   ...          0:09    19:40

In [432]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191 entries, 0 to 190
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Place            191 non-null    object
 1   Bib              191 non-null    object
 2   Name             191 non-null    object
 3   Gender           191 non-null    object
 4   Age              191 non-null    object
 5   City             191 non-null    object
 6   State            191 non-null    object
 7   Chip Pace        191 non-null    object
 8   Chip Time        191 non-null    object
 9   Gender Place     191 non-null    object
 10  Age Group        191 non-null    object
 11  Age Group Place  191 non-null    object
 12  Time to Start    191 non-null    object
 13  Gun Time         191 non-null    object
dtypes: object(14)
memory usage: 21.0+ KB

In [433]:
df.shape

(191, 14)

### Creating a second Df

In [434]:
df2 = df.dropna(axis=1, how='any') #drop any column with null values
df.shape

(191, 14)

In [435]:
df2 = df.dropna(how='any') #drop any column with null values
df.shape

(191, 14)

In [ ]:
df2['ChipTime_minutes'] = pd.to_timedelta(df2['Chip Time']) #devuelve error de formato hh:mm:ss
df2['ChipTime_minutes'] = df2['ChipTime_minutes'].astype('timedelta64[s]') /60
df2[['ChipTime_minutes']].info()

### Plotting

In [ ]:
plt.bar(df2['Gender'], df2['ChipTime_minutes']) #waiting to fix the last step_pd.to_timedelta64
plt.xlabel('Gender')
plt.ylabel('ChipTime_Minutes')
plt.title("Comparision of average minutes run by male and female")

### Describe the data

In [ ]:
df2.describe(include=[np.number]) #error no objecto to concatenate

### Boxplot

In [ ]:
df2.boxplot(column='ChipTime_minutes', by= 'Gender')
plt.ylabel('Run Time')

### Age vs Chip Time in minutes

In [ ]:
df2['Age_i'] = round(pd.to_numeric(df2['Age']), errors='coerce'))
df2.dropna(how='any', inline = True)

plt.scatter(df2['ChipTime_minutes'],df2['Age_i']
plt.show()