<center><h1><b><font size="5">Working with Triple Nested for Loops</font></b></h1></center>

In [4]:
products = ["Product A", "Product B"] #products
exp_sales = [10000, 11000, 12000, 13000, 14000] #monthly expected sales

In [2]:
time_horizon = (1,3,12) # monthly, quarterly, and annual expected sales revenue

In [5]:
for i in products:
    for j in exp_sales:
        print([i,j])

['Product A', 10000]
['Product A', 11000]
['Product A', 12000]
['Product A', 13000]
['Product A', 14000]
['Product B', 10000]
['Product B', 11000]
['Product B', 12000]
['Product B', 13000]
['Product B', 14000]

In [7]:
for i in products:
    for j in exp_sales:
        for k in time_horizon: #triple nested loop
            print([i,j*k])

['Product A', 10000]
['Product A', 30000]
['Product A', 120000]
['Product A', 11000]
['Product A', 33000]
['Product A', 132000]
['Product A', 12000]
['Product A', 36000]
['Product A', 144000]
['Product A', 13000]
['Product A', 39000]
['Product A', 156000]
['Product A', 14000]
['Product A', 42000]
['Product A', 168000]
['Product B', 10000]
['Product B', 30000]
['Product B', 120000]
['Product B', 11000]
['Product B', 33000]
['Product B', 132000]
['Product B', 12000]
['Product B', 36000]
['Product B', 144000]
['Product B', 13000]
['Product B', 39000]
['Product B', 156000]
['Product B', 14000]
['Product B', 42000]
['Product B', 168000]

In [8]:
for prod in products:# products: prod
    for sale in exp_sales: #exp_sales: sale
        for t_hor in time_horizon: #time_horizon:t_hor
            print([prod, sale*t_hor])

['Product A', 10000]
['Product A', 30000]
['Product A', 120000]
['Product A', 11000]
['Product A', 33000]
['Product A', 132000]
['Product A', 12000]
['Product A', 36000]
['Product A', 144000]
['Product A', 13000]
['Product A', 39000]
['Product A', 156000]
['Product A', 14000]
['Product A', 42000]
['Product A', 168000]
['Product B', 10000]
['Product B', 30000]
['Product B', 120000]
['Product B', 11000]
['Product B', 33000]
['Product B', 132000]
['Product B', 12000]
['Product B', 36000]
['Product B', 144000]
['Product B', 13000]
['Product B', 39000]
['Product B', 156000]
['Product B', 14000]
['Product B', 42000]
['Product B', 168000]

In [11]:
for prod in products:# products: prod
    for sale in exp_sales: #exp_sales: sale
        for t_hor in time_horizon: #time_horizon:t_hor
            print('Expected sales for a period of {0} month{1} for {2}: ${sales}'.format(t_hor, 's' if t_hor != 1 else '', prod, sales=sale * t_hor))

Expected sales for a period of 1 month for Product A: $10000
Expected sales for a period of 3 months for Product A: $30000
Expected sales for a period of 12 months for Product A: $120000
Expected sales for a period of 1 month for Product A: $11000
Expected sales for a period of 3 months for Product A: $33000
Expected sales for a period of 12 months for Product A: $132000
Expected sales for a period of 1 month for Product A: $12000
Expected sales for a period of 3 months for Product A: $36000
Expected sales for a period of 12 months for Product A: $144000
Expected sales for a period of 1 month for Product A: $13000
Expected sales for a period of 3 months for Product A: $39000
Expected sales for a period of 12 months for Product A: $156000
Expected sales for a period of 1 month for Product A: $14000
Expected sales for a period of 3 months for Product A: $42000
Expected sales for a period of 12 months for Product A: $168000
Expected sales for a period of 1 month for Product B: $10000
Expected sales for a period of 3 months for Product B: $30000
Expected sales for a period of 12 months for Product B: $120000
Expected sales for a period of 1 month for Product B: $11000
Expected sales for a period of 3 months for Product B: $33000
Expected sales for a period of 12 months for Product B: $132000
Expected sales for a period of 1 month for Product B: $12000
Expected sales for a period of 3 months for Product B: $36000
Expected sales for a period of 12 months for Product B: $144000
Expected sales for a period of 1 month for Product B: $13000
Expected sales for a period of 3 months for Product B: $39000
Expected sales for a period of 12 months for Product B: $156000
Expected sales for a period of 1 month for Product B: $14000
Expected sales for a period of 3 months for Product B: $42000
Expected sales for a period of 12 months for Product B: $168000