## Series

In [1]:
#Import pandas
# A basic series, which can be created is an Empty Serie
import pandas as pd
s = pd.Series()
print(s)

Series([], dtype: object)

In [2]:
#Create numpy 1-d array
import numpy as np

data = np.array(['a','b','c','d'])
s = pd.Series(data)
print(s)

0    a
1    b
2    c
3    d
dtype: object

In [3]:
#Create a Series from numpy array
data = np.array(['a','b','c','d'])
s = pd.Series(data,index=[100,101,102,103])
print(s)

100    a
101    b
102    c
103    d
dtype: object

In [4]:
#Create a Series from dictionary
data = {'a': 0., 'b': 1., 'c': 2.}
s = pd.Series(data)
print(s)

a    0.0
b    1.0
c    2.0
dtype: float64

In [5]:
#Create an empty DataFrame 
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [6]:
#Create a DataFrame from Lists
data = [1,2,3,4,5]
df= pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [7]:
#Create a DataFrame from Dict of ndarrays / Lists
data = {'Name':['Tom','Jack','Steve','Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data)
print(df)

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42

In [8]:
#Create a DataFrame from Dict of Series 
d = {'one' : pd.Series([1,2,3], index=['a','b','c']),
    'two' : pd.Series([1,2,3,4], index=['a','b','c','d'])}

df = pd.DataFrame(d)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [9]:
#Column selection
d = {'one' : pd.Series([1,2,3], index=['a','b','c']),
    'two' : pd.Series([1,2,3,4], index=['a','b','c','d'])}

df = pd.DataFrame(d)
print(df['one'])

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [10]:
#column adition 
d = {'one' : pd.Series([1,2,3], index=['a','b','c']),
    'two' : pd.Series([1,2,3,4], index=['a','b','c','d'])}

df = pd.DataFrame(d)

# Adding a new column to an existing DataFrame object with column label by passing new series
print("Adding a new column by passing as Series")
df['three']=pd.Series([10,20,30],index=['a','b','c'])
print(df)

print("Adding a new column using the existing columns in DataFrame")
df['four']=df['one']+df['three']

print(df)

Adding a new column by passing as Series
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
Adding a new column using the existing columns in DataFrame
   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN