In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("E:\DATA SETS\Iris.xlsx", index_col=0)
df.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
Id
1              51            35             14             2  Iris-setosa
2              49            30             14             2  Iris-setosa
3              47            32             13             2  Iris-setosa
4              46            31             15             2  Iris-setosa
5              50            36             14             2  Iris-setosa

In [3]:
#check the unique species
df["Species"].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [4]:
#asign a numeric value to each unique species
df["Species"].replace("Iris-setosa",value=1,inplace=True)
df["Species"].replace("Iris-versicolor",value=2,inplace=True)
df["Species"].replace("Iris-virginica",value=3,inplace=True)

In [5]:
#just numeric data
df.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
Id
1              51            35             14             2        1
2              49            30             14             2        1
3              47            32             13             2        1
4              46            31             15             2        1
5              50            36             14             2        1

#### CSV

In [6]:
#export the data
df.to_csv("export1.csv")

In [10]:
df.to_csv("export2.csv", sep="~")

In [11]:
df.to_csv("export3.csv", sep="~", header=False, index=False)

#### Excel

In [12]:
df.to_excel("export4.xlsx")

In [13]:
#freeze panel
df.to_excel("export5.xlsx", freeze_panes=(1,0)) #freeze row 1 and column 0

#### Json

In [16]:
df.to_json("export6.json")

In [17]:
df.to_json("export7.json",orient='records')