In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("E:\DATA SETS\Iris.xlsx", index_col=0)
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
1               51            35             14             2     Iris-setosa
2               49            30             14             2     Iris-setosa
3               47            32             13             2     Iris-setosa
4               46            31             15             2     Iris-setosa
5               50            36             14             2     Iris-setosa
..             ...           ...            ...           ...             ...
146             67            30             52            23  Iris-virginica
147             63            25             50            19  Iris-virginica
148             65            30             52            20  Iris-virginica
149             62            34             54            23  Iris-virginica
150             59            30             51            18  Iris-virginica

[150 rows x 5 columns]

In [3]:
df.shape

(150, 5)

#### Reading in SQL

In [9]:
import sqlite3
#creating the connection
con = sqlite3.connect('export.db')

In [10]:
#read the Iris.xlsx file in sqlite3
df.to_sql('Iris',con, if_exists='replace')

150

In [12]:
#dont forget to close the conection
con.close()