### DataFrame / Series

In [1]:
import pandas as pd
import numpy as np

In [2]:
# list
data_height = [4,5,6]
data_height

[4, 5, 6]

In [3]:
pd.Series(data_height) # 0,1,2 are our index number

0    4
1    5
2    6
dtype: int64

In [4]:
index_height = ['I','II','III'] #creating a new index

In [5]:
pd.Series(data=data_height, index=index_height) # with the new index

I      4
II     5
III    6
dtype: int64

In [6]:
index1_height = ['a','b','c'] #creating a new index

In [7]:
pd.Series(data=data_height, index=index1_height) # with the new index

a    4
b    5
c    6
dtype: int64

#### Numpy

In [8]:
data_np = np.array(data_height)
pd.Series(data_np,index1_height)

a    4
b    5
c    6
dtype: int32

In [9]:
# lets create a dictionary

data_DH = {
    'a':4,
    'b':5,
    'd':7
}
data_DH

{'a': 4, 'b': 5, 'd': 7}

In [10]:
# create a Serie
pd.Series(data_DH)

a    4
b    5
d    7
dtype: int64

In [11]:
#add labels to the series
pd.Series(data_DH, index=index1_height) #Nan value

a    4.0
b    5.0
c    NaN
dtype: float64

In [12]:
# create a list (2d list) because a DF has columns and rows
data_LWH = [
    [10,20],
    [30,40],
    [50,60]
]

In [14]:
# Create a DataFrame from the list 
pd.DataFrame(data_LWH)

    0   1
0  10  20
1  30  40
2  50  60

In [16]:
pd.DataFrame(data_LWH,
            index=['a','b','c'],
            columns=['W','H'])

    W   H
a  10  20
b  30  40
c  50  60

In [17]:
# DataFrame into a numpy arrays
pd.DataFrame(np.array(data_LWH),
            index=['a','b','c'],
            columns=['W','H'])

    W   H
a  10  20
b  30  40
c  50  60

#### ATTENTION

In [18]:
data_DH

{'a': 4, 'b': 5, 'd': 7}

In [19]:
#create a series
pd.Series(data_DH)

a    4
b    5
d    7
dtype: int64

In [20]:
#transform it into a DataFrame
pd.DataFrame(data_DH, index=[1,2,3])

   a  b  d
1  4  5  7
2  4  5  7
3  4  5  7

In [29]:
#create a dictionary
flowers = {
    'petal_lenght' : [5,5.6,4.4],
    'petal_width' : [4,4,3],
    'setal_width' : [2,1,2],
    'setal_lenght' : [2,3,5],
}

In [31]:
df = pd.DataFrame(flowers)
df

   petal_lenght  petal_width  setal_width  setal_lenght
0           5.0            4            2             2
1           5.6            4            1             3
2           4.4            3            2             5

In [32]:
#access the values
df.values

array([[5. , 4. , 2. , 2. ],
       [5.6, 4. , 1. , 3. ],
       [4.4, 3. , 2. , 5. ]])

In [33]:
#check the shape of dimension
df.shape

(3, 4)

In [34]:
#max value
df.max()

petal_lenght    5.6
petal_width     4.0
setal_width     2.0
setal_lenght    5.0
dtype: float64

In [35]:
#min
df.min()

petal_lenght    4.4
petal_width     3.0
setal_width     1.0
setal_lenght    2.0
dtype: float64

In [37]:
#mean
df.mean()

petal_lenght    5.000000
petal_width     3.666667
setal_width     1.666667
setal_lenght    3.333333
dtype: float64

In [39]:
df.describe() #describe

       petal_lenght  petal_width  setal_width  setal_lenght
count           3.0     3.000000     3.000000      3.000000
mean            5.0     3.666667     1.666667      3.333333
std             0.6     0.577350     0.577350      1.527525
min             4.4     3.000000     1.000000      2.000000
25%             4.7     3.500000     1.500000      2.500000
50%             5.0     4.000000     2.000000      3.000000
75%             5.3     4.000000     2.000000      4.000000
max             5.6     4.000000     2.000000      5.000000